/**
 * ROFI Dinamyc Color theme
 * Copyright: Molina Kevin 
 */

* {
    font:                   "SauceCodePro Nerd Form Mono 12";
    border:                 0px;
    padding:                0px;
    margin:                 0px;
    height:                 35px; 
	back: 					#090e06;
	fore: 					#c1c2c0;
	color0:					#090e06;
	color1:					#3B5242;
	color2:					#5B6951;
	color3:					#6A8F5F;
	color4:					#8B9772;
	color5:					#7A9383;
	color6:					#9FAC99;
	color7:					#c1c2c0;
	color8:					#5d6955;
	color9:					#3B5242;
	color10:				#5B6951;
	color11:				#6A8F5F;
	color12:				#8B9772;
	color13:				#7A9383;
	color14:				#9FAC99;
	color15:				#c1c2c0;
    background-color:       @back;
    border-color:           @back;
    text-color:             @fore;
}

window {
    anchor:                 north;
    location:               north;
    width:                  100%;
    padding:                0px;
    children:               [ horibox ];
    border-color:           @color3;
    border:                 0px 0px 1px 0px;
}

horibox {
    orientation:            horizontal;
    children:               [ prompt, entry, listview ];
}

prompt {
	padding: 				6px 4px 0px 4px;
    text-color:             @color0;
    background-color:       @color3;
}

entry {
	padding: 				6px 0px 0px 4px;
    expand:                 false;
    width:                  10em;
    text-color:             @color3;
}

listview {
    layout:                 horizontal;
    spacing:                0px;
    lines:                  100;
    border:                 0px;
	padding: 				6px 0px 0px 0px;
}

element {
    padding:                0px 8px;
}

element normal.normal {
	text-color: 	        @color0;
	background-color:       @color6;
}

element alternate.normal {
    text-color: 		    @color6;
    background-color: 	    @color0;
}

element.selected.normal {
    text-color:             @color6;
    background-color:       @color2;
}

element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}
